<!DOCTYPE html>
<html lang="en">

<body>
    <div class="row" style="border-style: ridge;">
        <div class="container-fluid">
            <h3><u>Virtual Clothes Try On</u></h3>
            <h5>Please upload an image and then select the Shirt you would like to try on.</h5>
            <form action="/action_page.php">
                <label for="imgClothes">Select image:</label>
                <input type="file" id="imgClothes" name="imgClothes" accept="image/*">
                <input type="submit">
            </form>
        </div>
    </div>
</body>

</html>