<!DOCTYPE html>
<html lang="en">

<body>
    <div class="row" style="border-style: ridge;">
        <div class="container-fluid">
            <h3><u>Virtual Hair Coloring</u></h3>
            <h5>Please upload an image and then select the color of hair you would like to try.</h5>

            <form action="/action_page.php">
                <label for="imgHair">Select image:</label>
                <input type="file" id="imgHair" name="imgHair" accept="image/*">
                <input type="submit">
            </form>
        </div>
    </div>
</body>

</html>